.boton a{ text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 20px;

}
.superponer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20, 50);
   text-align: end;
    color: white;
    
    

}
 
.boton h6{
text-align: center;
}
.boton h3{
    text-align: center; 
    
}
.d-grid{
    background-color:rgb(144, 233, 10);
    border-radius: 6px;
    color: white;
    
}
